.shame-wrapper {
    background-color: rgba(77, 77, 77, 0.623);
    border: 1px solid black;
    color: white;
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.shame-wrapper:hover{
    box-shadow: 0 1px 5px darkgrey;
}

.container {
    display: flex;
    flex-direction: row;
}

[class^='col'] {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
}

[class^='row'] {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.row-top {
    align-items: baseline;
    padding: .2rem;
    border-bottom: 1px solid white;
    color: white;
    font-size: 3vw;
}

.row-top>li {
    margin: 0 .5rem;
}

.fas {
    color: yellow;
}

.row-mid {
    font-size: 2.5vw;
    padding: 1.5vw;
}

.location {
    flex-basis: 30%;
}

[class*='-location'] {
    flex-basis: 0;
}

.theme-scape {
    flex-basis: 70%;
}

.row-img {
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.img-alignment {
    max-width: 100%;
    height: auto;
    width: 8vw;
    background-color: white;
    border-radius: 4px 10px;
}

.img-box {
    margin: 0 .2rem;
}

.row-matched {
    font-size: 1vw;
    border-top: 1px solid white;
}

.desktop {
    display: none;
}

@media only screen and (min-width: 650px) {
    .container {
        display: flex;
        font-size: 1vw;
    }

    [class^='col'] {
        flex-basis: 50%;
    }

    .row-top {
        font-size: 2vw;
    }

    .row-mid {
        font-size: 1.5vw;
    }

    .col-left {
        flex-basis: 60%;
    }

    .location {
        flex-basis: 30%;
    }

    .theme-scape {
        flex-basis: 70%;
    }

    .img-alignment {
        width: 5vw;
    }

    .desktop {
        display: flex;
        flex-basis: 40%;
        padding: 1rem;
    }

    .mobile {
        display: none;
    }

}

@media only screen and (min-width: 1400px) {
    .row-top {
        font-size: .8vw;
    }

    .row-mid {
        font-size: 1vw;
    }
    
}