
.row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 90vw;
    margin: .5rem auto;
    padding: .5rem;
    border: 1px solid darkslategray;
    box-shadow: 0 1px 5px darkgrey;
    background-color: rgb(17, 92, 128);
    color: white;
}

.headings {
    display: none;
}

li {
    display: flex;
}

span {
    flex-basis: 50%;
}

/* CSS selector applies styles to any class that begins with col- */
/* 4 fields */
[class^='col-']  {
    flex-basis: 16%;
}

.col-2 {
    flex-basis: 50%;
}

.col-4 {
    flex-basis: 18%;
}

.col-5 {
    font-size: .7rem;
    flex-basis: 100%;
}

.themeCardTitle{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: 'Open Sans Condensed', sans-serif;
}

@media only screen and (min-width: 768px) {
    .headings {
        display: flex;
    }

    .row {
        flex-direction: row;
    }

    .mobile-heading {
        display: none;
    }
    .card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
    }

}