header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 1rem;
  color: white;
  background-color: rgb(17, 92, 128);
}

.siteTitle {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  font-size: 2rem;
}

.navigation {
  margin: 0 1rem;
}

li, a {
  font-weight: 500px;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

