.button-container {
    display: flex;
}

button {
    display: inline-block;
    margin: 2rem;
    padding: 0;
    font-size: 50px;
    opacity: 0.9;
    width: 350px;
    min-height: 250px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    white-space: normal;
    border: none;
    box-shadow: 1px 4px 10px rgb(224, 224, 224);
    background-size: cover;
    text-shadow: 2px 2px #000000;
}
button:hover{
    opacity: 100%;
}
