.button-container {
    display: flex;
    justify-content: space-around;
}

button {
    display: inline-block;
    margin: 2rem;
    padding: 0;
    width: 150px;
    min-height: 200px;
    font-weight: bold;
    color:black;
    white-space: normal;
    border: none;
    box-shadow: 1px 4px 10px rgb(131, 131, 131);
}

/* .good-life {
    background: orange;
}

.health {
    background: greenyellow;
}

.future {
    background: lightseagreen;
} */
