.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.493);
}
.btn-container{
  display: flex;
 justify-content: flex-start;
background-color:  rgb(17, 92, 128);
}

button{
    height: 50%;
    border-radius: 2px;
    border: none;
    background: none;
    margin:.5rem;
}

.modal {
 
    align-items: center;
    justify-content: center;
    width: 80vw;
    height: auto;
    box-shadow: 2px 4px 10px rgb(167, 167, 167);
    background-color: rgb(61, 61, 61);
    color: white;
  }

   .modal-header{
      display: flex;
      font-family:'Bebas Neue', Helvetica, sans-serif;
      background-color: rgb(17, 92, 128);
      letter-spacing: 4px;
    
  }

  .details-title{
      color: white;
      font-size: 4vw;
      padding: .8rem; 
  } 

  .website{
    display: flex;
    justify-content: center;
    font-size: .8rem;
  }


  .startupNameTitle{
    display: flex;
  justify-content: center;
  font-size: 4vw;
  font-family: "montserrat";
  letter-spacing: 4px;
}

  .general-info{
    font-family: "montserrat";
  }

ul{
  display: flex;
  justify-content: center;
  flex-direction: row;
  border: 1px solid rgb(105, 105, 105);
  padding:.2rem;
  margin:1rem;
}
h3{
  margin-right:1rem;
}
ul,li,h3{
  font-size:4vw;
}
@media only screen and (min-width: 768px) {
  ul,li,h3{
    font-size:1.5vw;
  }
  .startupNameTitle{
    font-size: 2.5vw;
}
.details-title{
  font-size: 3vw;
}
}