.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.493);
}

[class^='row'] {
  display: flex;
  flex-direction: row;
}

[class^='col'] {
  display: flex;
  flex-direction: column;
}

.modal {
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 90vh;
  overflow: scroll;
  box-shadow: 2px 4px 10px rgb(167, 167, 167);
  background-color: rgb(61, 61, 61);
  color: white;
}

.modal-header {
  display: flex;
  width: 100%;
  font-family:'Bebas Neue', Helvetica, sans-serif;
  background-color: rgb(17, 92, 128);
  letter-spacing: 4px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}


.btn-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.493);
  flex-basis: 10%;
  align-items: baseline;
  padding: 1vw;
  background-color:  rgb(17, 92, 128);
}

button {
  font-size: 1.5vw;
  color: white;
  border: 1px solid white;
  background: rgba(0, 0, 0, 0.493);
}

.cat-heading {
  border-bottom: 1px solid white;
}

.details-title {
  flex-basis: 90%;
}

.details-title {
  color: white;
  font-size: 6vw;
  padding: .6rem; 
} 

.startupNameTitle{
  display: flex;
  justify-content: center;
  font-size: 4vw;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 4px;
}

.tab {
  font-size: 4vw;
}

.active {
  padding: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.493);
}

.inactive {
  color: gray;
  padding: 1rem;
}

[class*='-cat']:hover {
  color: white;
  
}

li {
  margin: .5rem;
  font-size: 4vw;
}

@media only screen and (min-width: 650px) {
  li {
    margin: 0;
    font-size: 1rem;
    padding: 1rem;
  }
  
  .tab {
    font-size: 3vw;
  }
}


@media only screen and (min-width: 1200px) {
  button {
    font-size: 1vw;
  }

  .tab {
    font-size: 2vw;
  }
}
