<div class="container" *ngIf="modalView">
  <div class="modal">
     
    <div class="modal-header">
         <div class="btn-container">
      <button class="exitBtn" (click)="toggleModal()">X</button>
      </div>
      <h1 class="details-title">DETAILS</h1>
    </div>
    <div class="modal-content">
      <div class="general-info">
         <h1 class="startupNameTitle">{{ startup.fields["Company Name"] }}</h1> 
          <li class="website"> Website:  {{ startup.fields["Company Website"] }}</li>
         <ul class="details2">
                <h3> Location: </h3>
              <li>{{ startup.fields.City }},</li>
              <li *ngIf="startup.fields.State"> {{ startup.fields.State }},</li>
              <li>{{ startup.fields.Country }}</li>
        </ul>
        <ul class="sumamry">
            <h3> Company Summary: </h3>
          <li> {{ startup.fields["Two Line Company Summary"] }}</li>
        </ul>
        <ul>
            <h3> Money Raised: </h3>
          <li>${{ startup.fields.Raised }}</li>
        </ul>
        <ul>
          <h3> Uniqueness: </h3>
          <li>{{ startup.fields.Uniqueness }}</li>
          </ul>
          <ul>
          <h3> Technology Areas: </h3>
          <li>{{ startup.fields["Technology Areas"] }}</li>
        </ul>
        <div class="projects">
      <ul *ngFor="let project of projects">
        <h3> Projects: </h3>
        <li> {{ project.fields["Project Name"] }}</li>
      </ul>
    </div>
    <div class="team">
      <ul>
        <h3> Projects: </h3>
        <li> {{ startup.fields.Team }}</li>
        </ul>
    </div>
    </div>
    </div>
  </div>
</div>
