.form-container {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: .5rem;
}

.search-title {
    color: White;
    letter-spacing: 4px;
}

.text-input {
    flex-basis: 75%;
    border: none;
    padding: .8rem
}

.search-btn {
    flex-basis: 25%;
    border: none;
    border-radius: 0 20px 5px 0;
    color: white;
    font-weight: 700;
    background-color: rgb(10, 64, 88);
    padding: .8rem;
}

@media only screen and (max-width: 370px) {
    /* For the two phones smaller than 370px */
    .text-input {
        flex-basis: 100%;
        margin-top: .2rem;
    }

    .search-btn {
        flex-basis: 45%;
        margin-top: .5rem;
        border-radius: 5px 15px 5px 15px;
    }
}

@media only screen and (min-width: 650px) {
    .text-input {
        margin-top: .2rem;
    }

    .search-btn {
        margin-top: .5rem;
        flex-basis: 45%;
        border-radius: 5px 15px 5px 15px;
    }

    .search-btn:hover {
        box-shadow: 2px 2px 4px black;
    }

    .search-btn:focus {
        outline: none; 
        box-shadow: none;
        border: none;
        color: rgb(168, 168, 168);
        background-color: rgb(10, 64, 88);
    }
}