.search-title {
    color: White;
    letter-spacing: 4px;
}

.text-input {
    flex-basis: 75%;
    border: none;
    padding: .8rem
}

.search-btn {
    flex-basis: 25%;
    border: none;
    border-radius: 0 20px 5px 0;
    padding: .8rem;
}

@media only screen and (min-width: 768px) {

    .search-btn {
        flex-basis: 100%;
    }

    .search-btn:hover {
        box-shadow: 2px 2px 4px black;
    }

    .search-btn:focus {
        outline: none; 
        box-shadow: none;
        border: none;
        color: rgb(168, 168, 168);
        background-color: rgb(10, 64, 88);
    }
}