/* host targets the parent element of the component */
:host {
    display: flex;
    justify-content: center;
    text-align: center;
}
.subheading {
    color: white;
    
}
.text-input {
    flex-basis: 75%;
    border: none;
    padding: .5rem
}

.search-btn {
    flex-basis: 20%;
    margin-top:2rem;
    border: none;
    border-radius: 0 15px 15px 0;
    padding:.5rem;
}

@media only screen and (min-width: 768px) {
   
    .text-input {
        flex-basis: 75%;
        border: none;
    }
    #searchInput1{
        width : 40em;
    }
    .search-btn {
        flex-basis: 85%;
        border: none;
        border-radius: 0 15px 15px 0;
    }

    .search-btn:hover {
        box-shadow: 2px 2px 4px black;
    }

    .search-btn:focus {
        outline: none; 
        box-shadow: none;
        border: none;
        color: rgb(168, 168, 168);
        background-color: rgb(10, 64, 88);
    }
}

#cty {
    display:none;
}

#city:checked ~ #cty {
    display:block;
}

#thm {
    display:none;
}

#theme:checked ~ #thm {
    display:block;
}

#align {
    display:none;
}

#alignment:checked ~ #align {
    display:block;
}