<app-navbar></app-navbar>
<ul class="navLinks">
    <li><a routerLink="favorites" routerLinkActive="activeLink">View Favorites</a></li>
</ul>
<app-search-bar></app-search-bar>
<router-outlet></router-outlet>
<app-startup-details></app-startup-details>
<div class='button-container'>
    <a routerLink="theGoodLife" routerLinkActive="activeLink"><button>The Good Life</button></a>
    <a routerLink="healthBeyondTheHospital" routerLinkActive="activeLink"><button>Health Beyond The Hospital</button></a>
    <a routerLink="robustFuture" routerLinkActive="activeLink"><button>Robust Future</button></a>
</div>



