html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

ol, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}