
.favTitle{
    display: flex;
    justify-content: center;
}
.headings {
    display: none;
}
.background-container{
    background-color: rgba(0, 0, 0, 0.383);
}
.emptyFav{
    display: flex;
    justify-content: center;
    color:white;
    margin-top: 2rem;
    font-size: 1.8rem;
}
ul {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: .5rem auto;
    padding: .5rem;
    border: 1px solid rgb(124, 124, 124);
    box-shadow: 0 1px 5px darkgrey;
    background-color: #353535ab;
    color: white;
}

li {
    display: flex;
}

span {
    flex-basis: 50%;
}

/**.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

**/

.button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#115d80;
	font-family: 'Montserrat', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 4px 0px #ffffff;
}
.button:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.button:active {
	position:relative;
	top:1px;
}

/* CSS selector applies styles to any class that begins with col- */
[class^='col-']  {
    flex-basis: 25%;
}

.col-2 {
    flex-basis: 50%;
}

@media only screen and (min-width: 768px) {
    .headings {
        display: flex;
    }

    ul {
        flex-direction: row;
    }

    .mobile-heading {
        display: none;
    }
}