<div class="main-container">
    <app-search-bar></app-search-bar>
    <div class='theme-container'>
        <div class='themes'>
            <div class='theme-colL'>
                <h2 class="theme-title ">Startup Themes</h2>
            </div>
            <div class='theme-colR'>
                <app-theme-card theme='The Good Life'></app-theme-card>
                <app-theme-card theme='Robust Future'></app-theme-card>
                <app-theme-card theme='Health Beyond The Hospital'></app-theme-card>
            </div>
            <div class='theme-colL hide'>
                <h2 class="theme-title ">Startup Themes</h2>
            </div>
        </div>
    </div>
</div>